
<div class="formgrid grid" style="display: block;">
    <div class="col-6">
      <p-panel header="Reactive Forms">
        <form class="p-fluid">

            <h1>Registro de votantes</h1>
          <div class="field">
            <label>Cedula:</label>
            <input type="text" pInputText formControlName="cedula"/>
          </div>
          <div class="field">
            <label>Nombres:</label>
            <input type="text" pInputText formControlName="nombres"/>
          </div>
          <div class="field">
            <label>Apellidos:</label>
            <input type="text" pInputText formControlName="apellidos"/>
          </div>
          <div class="field">
            <label>Carrera:</label>
              <p-dropdown [options]="carreras" [(ngModel)]="selectedCarrera" optionLabel="label" placeholder="Selecciona una carrera"></p-dropdown>
          </div>
          <div class="field">
            <label>Jornada:</label>
              <p-dropdown [options]="jornadas" [(ngModel)]="selectedJornada" optionLabel="label" placeholder="Selecciona una Jornada"></p-dropdown>
          </div>
          <div class="field">
            <label>Correo Electronico:</label>
            <input type="email" pInputText formControlName="correo"/>
          </div>
          <div class="field">
            <label>Contraseña:</label>
            <input type="password" pInputText formControlName="contrasena"/>
          </div>
          <div class="field">
            <button pButton type="submit" label="Registrar"></button>
            <button pButton type="cancelar" label="Cancelar"></button>
          </div>
        </form>
      </p-panel>
    </div>
  </div>
  