body {
    margin: 0;
    padding: 0;
  }
  
  footer {
    background-color: #D9DAD2;
    color: #2F2E38;
    width: 100%;
    text-align: center;
    font-size: 12px;

  }
  html, body {
    height: 0%;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
