<app-menu></app-menu>
<app-sidenav></app-sidenav>

<div class="card container d-flex justify-content-center">
    <div class="card-header">
      <h3 class="card-title text-center">Subir Votantes</h3>
    </div>
    <div class="card-body text-center">
      <form class="mx-auto">
        <div class="form-group">
          <label for="csvFile" class="btn btn-success">
            <span>Subir Votantes</span>
            <input type="file" class="d-none" id="csvFile">
          </label>
        </div>
        <!-- Otros campos del formulario aquí -->
        <button class="btn btn-primary" (click)="onSubmit()">Guardar</button>&nbsp;&nbsp;
        <button class="btn btn-secondary" (click)="volver()">Cancelar</button>
      </form>
    </div>
  </div>
  
  
  
  

