<app-menu></app-menu>

<div class="container" *ngIf="estado">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

                <div class="form-group">
                    <label for="nomTarea">Nombre del estado</label>
                    <input type="text" class="form-control" id="nombreTarea" name="nombreTarea"
                    [(ngModel)]="estado.nombreEstado" required>
                </div>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>
                <button class="btn btn-outline-primary btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </form>
        </div>
    </div>
</div>

