
<!--copiar inicio-->
<app-menu></app-menu>
<div class="container">
  <div class="grid-container">
    <div class="sidebar">
      <app-sidenav></app-sidenav>
    </div>
    <div class="container" *ngIf="estado">
        <div class="row mt-5">
            <div class="col-md-4 mx-auto">
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
    
                  <div class="form-group text-center">
                    <h1 for="nombreEstado">Estado</h1>
                    <img src="../../assets/Estado.jpg" width="150px" style="display: block; margin: 0 auto;">
                    <br>
                        <label for="nomTarea">Nombre del estado</label>
                        <input type="text" class="form-control" id="nombreTarea" name="nombreTarea"
                        [(ngModel)]="estado.nombreEstado" required>
                    </div>
                    <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>
                    <button class="btn btn-outline-primary btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                </form>
            </div>
        </div>
    </div>
    

  </div>
</div>
<!--copiar fin-->
<app-footer></app-footer>