<app-menu></app-menu>
<app-sidenav></app-sidenav>

<div class = 'container'>
  <button class="btn btn-outline-success btn-block" style="width:150px" (click)="nuevo()" >Crear</button> 
  <br>
  <br>
  </div>
<div class = 'container' *ngIf="!listaVacia" >
  
    <table class="table table-dark text-center">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre de la Tarea</th>
            <th scope="col">Descripción</th>
            <th scope="col">Encargado</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Fecha de finalización</th>
            <th scope="col" *ngIf="isAdmin">Ver</th>
            <th scope="col" *ngIf="isAdmin">Editar</th>
            <th scope="col" *ngIf="isAdmin">Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarea of tareas">
            <td>{{tarea.id}}</td>
            <td>{{tarea.nombreTarea}}</td>
            <td>{{tarea.descripcion}}</td>
            <td>{{tarea.encargado}}</td>
            <td>{{tarea.fechaInicio}}</td>
            <td>{{tarea.fechaFinalizacion}}</td>
            <td><button class="btn btn-outline-primary" routerLink="/detalle/{{tarea.id}}"><i class="far fa-eye"></i> Ver</button></td>
            <td *ngIf="isAdmin"><button class="btn btn-outline-warning" routerLink="/editar/{{tarea.id}}"><i class="far fa-edit"></i> Editar</button></td>
            <td *ngIf="isAdmin"><button class="btn btn-outline-danger" (click)="borrar(tarea.id)"><i class="far fa-trash-alt"></i> Eliminar</button></td>
          </tr>
        </tbody>
      </table>
</div>

<div class = 'container' *ngIf="listaVacia">
  <div class="p-3 mb-2 bg-dark custom-text-color text-center">{{listaVacia}}</div>
</div>
