<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="#">Yavivote</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
       
        <li class="nav-item">
            <a class="nav-link" routerLink="/"><i class="fas fa-home"></i> Inicio</a>
          </li>
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/lista" *ngIf="isAdmin"><i class="far fa-list-alt"></i> Lista de Tareas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lista-cargo" *ngIf="isAdmin"><i class="far fa-list-alt"></i> Lista de Cargos</a>
        </li>
        <li class="nav-items">
          <a class="nav-link" routerLink="/registro" *ngIf="isAdmin"><i class="fas fa-user-plus"></i>Crear Usuarios</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/subir-votante" *ngIf="isAdmin"><i class="far fa-list-alt"></i> Subir Votante</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  routerLink="/nuevo" *ngIf="isAdmin"><i class="fas fa-plus-circle" ></i> Nueva Tarea</a>
        </li>
     
        <li class="nav-item">
          <a class="nav-link" routerLink="/registro-lista" *ngIf="isLogged"><i class="far fa-list-alt"></i> Registros de Listas</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="!isLogged"><i class="far fa-list-alt" ></i> Login</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success" routerLink="/login" *ngIf="!isLogged"><i class="fas fa-sign-in-alt"></i>Iniciar Sesión</button>
        <button class="btn btn-outline-danger" *ngIf="isLogged" (click)="logOut()"><i class="fas fa-sign-in-alt"></i>Cerrar sesión</button> 
      </form>
    </div>
  </nav>
  