<section>
  <h1>
    <img src="../../assets/Yavirac.png" width="110px" style="margin-right: 10px;">
    <strong> Y a v i - V o t e! </strong>
    <img src="../../assets/Logo.png" alt="imagen" width="100px">
  </h1>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="ml-auto center-image">
    </div>
    <div class="ml-auto" style="margin-right: 90px;">

      <button class="btn btn-outline-danger" *ngIf="isLogged" (click)="logOut()"><i
          class="fas fa-sign-in-alt"></i>Salir</button>

      <button class="btn btn-outline-success" routerLink="/login" *ngIf="!isLogged"><i
          class="fas fa-sign-in-alt"></i>Iniciar Sesión</button>

    </div>

  </nav>
</section>


<form class="form-inline my-2 my-lg-0">
</form>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

-