<html>

<head>
    <meta charset="UTF-8">
 
</head>

<body>
    <div >
        <nav class="main-menu">
            <br>
            <ul>
                <li>
                    <h4 style="color:white; margin-left: 80px;">USUARIO</h4>
                </li>
            </ul>
            <ul>
                <li>
                    <img src="https://cdn.icon-icons.com/icons2/3311/PNG/512/student_man_avatar_user_toga_school_university_icon_209294.png" width="150px" style="margin-left: 30px;">

                </li>
            </ul>
            <br>
            <ul>
                <li>
                    <h2 style="color:white; text-align: center;;" *ngIf="nombre">{{nombre}} </h2>
                </li>
                <br>
                <li>
                    <a class="nav-link" routerLink="/">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Inicio
                        </span>
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/lista-cronograma" *ngIf="isAdmin">
                        <i class="fa fa-calendar fa-2x"></i>
                        <span class="nav-text">
                            Cronograma
                        </span>
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/lista-periodo" *ngIf="isAdmin">
                        <i class="fa fa-clock-o fa-2x"></i>
                        <span class="nav-text">
                            Lista de Periodos
                        </span>
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/lista" *ngIf="isAdmin">
                        <i class="fa fa-list-alt fa-2x"></i>
                        <span class="nav-text">
                            Lista de Tareas
                        </span>
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/lista-cargo" *ngIf="isAdmin">
                        <i class="fa fa-user fa-2x"></i>
                        <span class="nav-text">
                            Lista de Cargos
                        </span>
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/lista-carrera" *ngIf="isAdmin">
                        <i class="fa fa-book fa-2x"></i>
                        <span class="nav-text">
                            Lista de Carreras
                        </span>
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/registro" *ngIf="isAdmin">
                        <i class="fa fa-male fa-2x"></i>
                        <span class="nav-text">
                            Crear Usuarios
                        </span>
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/subir-votante" *ngIf="isAdmin">
                        <i class="fa fa-cloud-upload fa-2x"></i>
                        <span class="nav-text">
                            Subir Votante
                        </span>
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/listar-lista" *ngIf="isAdmin">
                        <i class="fa fa-users fa-2x"></i>
                        <span class="nav-text">
                            Registros de Listas
                        </span>
                    </a>
                </li>
                <li >
                    <a class="nav-link" routerLink="/lista-estado" *ngIf="isAdmin">
                        <i class="fa fa-check-square fa-2x"></i>
                        <span class="nav-text">
                            Lista Estado
                        </span>
                    </a>
                </li>
                <li >
                    <a class="nav-link" routerLink="/lista-estado" *ngIf="isVoter">
                        <i class="fa fa-check-square fa-2x"></i>
                        <span class="nav-text">
                            Lista Estado
                        </span>
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/lista-votante" *ngIf="isVoter">
                        <i class="fa fa-user-plus fa-2x"></i>
                        <span class="nav-text">
                            Listas
                        </span>
                    </a>
                  </li>

                  <li>
                    <a class="nav-link" routerLink="/listar-lista" *ngIf="isLogged">
                        <i class="fa fa-list-alt fa-2x"></i> 
                        <span class="nav-text">
                            Registros de Listas
                        </span>
                    </a>
                  </li>
               
                  <li>
                    <a class="nav-link" routerLink="/lista-estado" *ngIf="isLogged">
                        <i class="fa fa-list-alt fa-2x"></i> 
                        <span class="nav-text">
                            Lista Estado
                        </span>
                    </a>
                  </li>
          
          
                  <li>
                    <a class="nav-link" routerLink="/lista-usuario" *ngIf="isLogged">
                        <i class="fa fa-list-alt fa-2x"></i> 
                        <span class="nav-text">
                            Lista de Usuarios
                        </span>
                    </a>
                  </li>
          
                
                  <li>
                    <a class="nav-link" routerLink="/login" *ngIf="!isLogged">
                        <i class="fa fa-list-alt fa-2x" ></i> 
                        <span class="nav-text">
                            Login
                        </span>
                    </a>
                  </li>
               
            </ul>
          <!--
  <ul>
                <li style="margin-bottom: 10px;">
                    <a class="nav-link" routerLink="/lista-estado" *ngIf="isAdmin" (click)="logOut()">
                        <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
                <li style="margin-bottom: 10px;">
                    <a class="nav-link" routerLink="/lista-estado" *ngIf="isLogged" (click)="logOut()">
                        <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
                <li style="margin-bottom: 10px;">
                    <a class="nav-link" routerLink="/lista-estado" *ngIf="isVoter" (click)="logOut()">
                        <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
               
            </ul>

          -->
        </nav>
    </div>
</body>

</html>