<!--copiar inicio-->
<app-menu></app-menu>
<div class="container">
  <div class="grid-container">
    <div class="sidebar">
      <app-sidenav></app-sidenav>
    </div>

<!--copiar Fin-->
    <div class="content">
      <!-- PANTALLA DE BIENVENIDA -->
        <h1 class="display-4" *ngIf="!nombre">Sistema de Votaciones!</h1>
        <h1 class="display-4" *ngIf="nombre">Bienvenido, {{nombre}} </h1>
        <p class="lead">Ingresa tu voto</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg"  routerLink="/lista-votante" *ngIf="isVoter">
          <i class="fa fa-user-plus fa-2x"></i>
              Ver Listas y Candidatos
      </a>
    </div>
<!--copiar inicio-->

  </div>
  
</div>
<!--copiar fin-->
<app-footer></app-footer>